$mainColor: #000;

#m-preview {
    padding: 20px;
    background: #ffe;
    &-mobile {
        background: #111;
        display: inline-block;
        padding: 0 10px;
        border-radius: 30px;
        box-shadow: rgb(0, 0, 0) 0px 0px 21px 2px;
        border: 1px solid rgb(0, 0, 0);
        iframe {
            width: 375px;
            height: 667px;
            background: #fff;
            border: none;
            margin: 0;
            padding: 0;
            display: block;
        }
        p {
            margin: 0;
            padding: 0;
            background: #666;
            height: 20px;
            margin: 15px 0;
            b {
                display: inline-block;
                height: 16px;
                width: 16px;
                border-radius: 50%;
                background: #000;
                border: 1px #999 solid;
                position: relative;
                left: 3em;
            }
        }
        span {
            box-shadow: rgb(255, 255, 255) 1px 2px 3px;
            display: block;
            height: 40px;
            width: 80px;
            border-radius: 10px;
            background: #111;
            margin: 10px auto;
        }
    }
}


/*
            #mobile-iframe-msg {
                position: fixed;
                bottom: 0px;
                text-align: center;
                width: 100%;
                color: rgb(204, 204, 204);
                padding: 7px;
                background: rgba(0, 0, 0, 0.5);
            }

            #mobile-iframe-out {
                position: fixed;
                top: 728px;
                left: 242px;
                border-radius: 50%;
                color: rgb(153, 153, 153);
                padding: 20px;
                border: 1px solid rgb(0, 0, 0);
                box-shadow: rgb(255, 255, 255) 1px 2px 3px;
            }
            */